[project]
name = "simple-planning-agent"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "portia-sdk-python[all]>=0.4.0",
]
